#forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(24, 228, 221) ;
    
}

.currentUVI {
    display: inline;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

h1 {
    background-color:  rgb(24, 228, 221);
    color: rgb(5, 7, 14);
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-color: rgb(59, 100, 249);
}

h2 {
    font-size: 25px;
    height: 50px;
    margin-bottom: 0px;
}
